#footer-container {
    background-color: #eeeeee;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

#footer-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.footer-content-item {
    padding: 5px 0;
}

.footer-content-a {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

#footer-logo img {
    width: 145px;
    height: auto;
}
